<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{MyScript.js}"></script>
<link th:href="@{MyCss.css}" rel="stylesheet"></link>
<link></link>
<style type="text/css" >

h2 {
    font-family: sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
}

div{
font-family:sans-serif;
font-size: 2.6;
background-color: white;
}
 
strong {
    font-family:Monospace;
    font-weight: 12000;
    background-color: black;
}
 
p {
    font-family: sans-serif;
}
 
body{
    background:gray;
    color:white;
    font-weight:800;
}</style>
<script type="text/javascript">
    document.write("HIii");
</script>
 

</head>
<body>
 THIS IS MY SOME HTML PAGE USING MICROSERVICE <h2>WELCOME TO MY STORY ABIRAMI</h2>
 <strong>"THIS IS STORNG</strong>
 <p>Paragraph Writing. Paragraphs are the group of sentences combined together, about a certain topic. It is a very important form of writing as we write almost everything in paragraphs, be it an answer, essay, story, emails, etc. We can say that a well-structured paragraph is the essence of good writing. The purposes of the paragraph are to give ...</p>
<div style="background:#ff6289;color:#791d01;">THIS IS UNDER A DIVISION USING ""INLINE CSS""</div>
</body>
</html>